@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OUuhp.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v5/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

h1, h2, h4, h5, p {
  color: color:  #002533;
}

h1, h2, h3, li {
  font-family: Poppins, Verdana, sans-serif;
}

h4, h5, p, a {
  font-family: "Open Sans", "Arial Narrow", sans-serif;
}


/*Navigation Section*/
navigation {
  background-color: white;
  display: flex;
  height: 4rem;
  align-items: center;
  position: fixed;
  z-index: 4;
  width: 100%;
}

navigation .logo-container {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}

navigation .logo-container .logo img {
  height: 3rem;
}

navigation .logo-container h2 {
  font-size: 2rem;
  font-weight: normal;
  color: #14bdff;
}

navigation .logo-container h2 span {
  font-weight: bold;
  color:  #002533;
}

navigation .links-container {
  font-size: 1.25rem;
  color:  #002533;
  margin-left: auto;
  margin-right: 1.5rem;
}

navigation .links-container ul {
  display: flex;
}

navigation .links-container ul li {
  margin: 0 0.5rem;
}

li:hover {
  color: #14bdff;
}

navigation .mobile {
  display: none;
}

/*Navigation Mobile*/
@media only screen and (max-width: 480px) {
  navigation .logo-container {
    display: none;
  }

  navigation .links-container {
    display: none;
  }

  navigation .mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  navigation .mobile img {
    height: 3rem;
    transition: all .25s ease-in;
  }

  navigation .mobile img:hover {
    transform: scale(1.4);
  }
}


/*Primary Section*/
primary {
  background-color: #e6f8ff;
  position: relative;
  top: 4rem;
  z-index: 1;
  display: flex;
  padding: 2rem 0;
}

primary img {
  width: 60%;
  margin-left: 1.5rem;
}

primary .text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

primary .text-container h2 {
  font-size: 3.5rem;
  line-height: 1.25;
  width: 70%
}

primary .text-container h4 {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.5;
  width: 70%
}

primary .text-container a {
  margin-top: 2.5rem;
  background-color: #14bdff;
  width: 70%;
  display: flex;
  justify-content: center;
}

primary .text-container a h3 {
  margin: 1rem auto;
  font-weight: bold;
  font-size: 1.5rem;
  color: #ffffff;
}

primary a:hover {
  background-color: #ff1414;
}

/*Primary Mobile*/
@media only screen and (max-width: 480px) {
  primary {
    flex-direction: column;
    top: 2rem;
    padding-bottom: 0;
  }

  primary img {
    width: 100%;
    margin: 0;
  }

  primary .text-container {
    margin: 1.5rem 1rem 0 1rem;
  }

  primary .text-container h2 {
    font-size: 2.5rem;
    width: 100%;
  }

  primary .text-container h4 {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 2rem;
    margin-bottom: 1.5rem
  }

  primary .text-container a  {
    margin: 0 0 2rem 0;
    width: 100%;
  }
}


/*Practice Section*/
practice {
  display: flex;
  top: 4rem;
  position: relative;
  z-index: 2;
}

practice .image-container {
  width: 60%;
  margin: 2rem 1.5rem;
}

practice .image-container .text-container h2{
  margin: 2rem auto;
  font-size: 3.5rem;
}

practice .image-container .text-container h4 {
  font-size: 1.75rem;
  font-weight: 300;
  line-height: 1.5;
}

practice .image-container .text-container h5 {
  margin: 3rem auto 2rem auto;
  font-size: 1.25rem;
  font-weight: 400;
}

practice .boxes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  border-left: 1px solid #002533;
}

practice .boxes-container .mobile {
  display: none;
}

practice .boxes-container img {
  width: 35%;
  height: auto;
}

practice .boxes-container .orientation-container {
  display: flex;
  align-items: center;
  padding: 2rem;
  border-bottom: 0.01rem solid #002533;
}

practice .boxes-container .campus-container {
  display: flex;
  align-items: center;
  padding: 2rem;
  border-bottom: 0.01rem solid #002533;
}

practice .boxes-container .guest-container {
  background-color: #e6f8ff;
  display: flex;
  align-items: center;
  padding: 2rem;
}

practice .boxes-container .text-container {
  width: 65%;
  margin-left: 2rem;
}

practice .boxes-container .text-container h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

practice .boxes-container .text-container p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin-bottom: 2rem;
  margin-top: 0.5rem;
}

practice .boxes-container .text-container a {
  font-size: 1.25rem;
}

practice a:hover {
  color: #14bdff;
}

/*Practice Mobile*/
@media only screen and (max-width: 480px) {
  practice .image-container {
    display: none;
  }

  practice .boxes-container img {
    display: none;
  }

  practice .boxes-container {
    border: none;
  }

  practice {
    margin: 1rem;
    top: 2rem;
  }

  practice .boxes-container  {
    width: 100%
  }

  practice .boxes-container .mobile {
    display: block;
    width: 100%
  }

  practice .boxes-container .orientation-container  {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0;
    margin-bottom: 4rem;
  }

  practice .boxes-container .campus-container {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0;
    margin-bottom: 4rem;
  }

  practice .boxes-container .guest-container {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0;
    margin-bottom: 2rem;
    background-color: inherit;
  }

  practice .boxes-container .text-container {
    width: 100%;
    margin: 2rem 1rem 0 1rem;
  }

  practice .boxes-container .text-container h2 {
    margin-bottom: 1rem;
  }

  practice .boxes-container .text-container p {
    margin-bottom: .75rem;
  }

  practice .boxes-container .text-container a {
    color: #14bdff;
  }

  practice .boxes-container .text-container a:hover {
    color: #ff1414;
  }

}

/*Learning Section*/
learning {
  background-color: #e6f8ff;
  position: relative;
  top: 4rem;
  z-index: 3;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}

learning h1 {
  margin: 1.5rem auto 3rem auto;
  text-align: center;
  font-size: 3.5rem;
  height: auto;
}

learning .courses-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto 4.5rem;
}

learning .container {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-bottom: 2rem;
  margin-right: 2rem;
  width: 30rem;
  height: 30rem;
  padding-bottom: 2.5rem;
}

learning .courses-container h2 {
  margin: 1.5rem 1.5rem 1rem 1.5rem;
  font-size: 2rem;
}

learning .courses-container h3 {
  margin: 0.5rem 1.5rem 0.5rem 1.5rem;
  font-weight: 300;
}

learning .courses-container p {
  margin: 0.5rem 1.5rem;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 300;
}

/*Learning Mobile*/
@media only screen and (max-width: 480px) {
  learning .courses-container img {
    display: none;
  }

  learning .courses-container h3, p {
    display: none;
  }

  learning {
    padding: 0;
    background-color: inherit;
    border-top: 1px solid #002533;
    margin: 1rem;
    display: flex;
    justify-content: center;
  }

  learning .courses-container {
    width: 100%;
    margin: 0;
  }

  learning .container {
    margin-bottom: 0.5rem;
    padding: 0;
    display: flex;

    height: auto;
    background-color: #e6f8ff;
  }

  learning h1 {
    font-size: 3rem;
    margin: 1.5rem auto 1.5rem auto;
  }

  learning .courses-container h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1rem 1rem 1.5rem 1rem;
  }




}

/*Thesis Section*/
thesis {
  position: relative;
  top: 4rem;
}

thesis .thesis-container {
  display: flex;
}

thesis .video-container {
  display: flex;
  flex-direction: column;
}

thesis .boxes-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-right: 1.5rem;
}

thesis .boxes-container img {
  width: 35%;
  height: auto;
  margin-right: 1.5rem;
}

thesis .boxes-container .fisma-container {
  display: flex;
  align-items: center;
  background-color: #e6f8ff;
  padding: 2rem;
}

thesis .boxes-container .now-container {
  display: flex;
  align-items: center;
  padding: 2rem;
}

thesis h1 {
  margin: 3rem auto;
  text-align: center;
  font-size: 3.5rem;
}

thesis .video-container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  width: 60%;
}

thesis .video-container video {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

thesis .text-container h2 {
  font-size: 2rem;
}

thesis .text-container p {
  margin-top: 1rem;
  line-height: 1.5;
  font-weight: 300;
  font-size: 1.5rem;
}



/*Footer*/
footer {
  position: relative;
  top: 4rem;
  margin-top: 2rem;
  border-top: 1px solid #002533;
}

footer .footer-container {
  margin: 2rem 1.5rem 2.5rem 1.5rem;
  display: flex;
}

footer .footer-container .links {
  margin-left: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .footer-container .links a {
  margin-right: 1rem;
  align-self: center;
}

footer a:hover {
  color: #14bdff;
}

footer .social-media {
  margin-right: 1.5rem;
}

footer .social-media a {
  margin: 0.25rem;
}
